{% extends 'social/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="profile-page tx-13" style="background-color: rgb(235, 238, 240);">
        <div class="row">
            <div class="row justify-content-center mt-3 mb-5">
                <div class="col-md-5 col-sm-12 border-bottom">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="d-grid gap-2">
                        {{ form.body }}
                        {{ form.image }}
                        <div class="d-flex">
                            <button class="btn btn-success px-4 py-1" type="submit"><i class="fa fa-pencil fa-fw"></i> Submit</button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row profile-body">
            <!-- left wrapper start -->
            <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">

            </div>
            <!-- left wrapper end -->
            <!-- middle wrapper start -->
            <div class="col-md-8 col-xl-6 middle-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                    {% for post in post_list %}
                        <div  class="card rounded">
                            <div  class="card-header" style="background-color: #ffff;">
                                {% if post.shared_user %}
                                <div class="card-rounded body"  >
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <a style="text-decoration: none;" href="{% url 'social:profile' post.shared_user.profile.pk %}">
                                                <img class="img-xs rounded-circle" src="{{ post.shared_user.profile.picture.url }}" alt="">
                                            </a>
                                            <p class="ml-3 tx-11 text-muted ml-3">
                                                <a style="text-decoration: none;" href="{% url 'social:profile' post.shared_user.profile.pk %}">{{ post.shared_user }}</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center" >
                                        <a  href="{% url 'social:profile' post.author.profile.pk %}">
                                            <img class="img-xs rounded-circle" src="{{ post.author.profile.picture.url }}">
                                        </a>                                
                                        <p class="ml-3 tx-11 text-muted ml-3">
                                            <a style="text-decoration: none;" href="{% url 'social:profile' post.author.profile.pk %}">{{ post.author }}</a> {{ post.created_on }}
                                            <span onclick="shareToggle('{{ post.pk }}')"><i class="far fa-share-square share-btn"></i></span>
                                        </p>
                                    </div>
                                </div>
                                {% endif %}
                                <form method="POST" action="{% url 'social:share-post' post.pk %}" class="d-none" id="{{ post.pk }}">
                                    {% csrf_token %}
                                    {{ shareform | crispy}}
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-success mt-3">Share the post</button>
                                    </div>
                                </form>
                                {% if post.shared_user %}
                                <div class="card-body">
                                    <p class="mb-3 tx-14">{{ post.shared_body }}</p>
                                </div>
                                <div class="card-rounded" >
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                             <img class="img-xs rounded-circle" src="{{ post.author.profile.picture.url }}" alt="">
                                            <p class="ml-3 tx-11 text-muted ml-3">
                                                <a href="{% url 'social:profile' post.author.profile.pk %}">{{ post.author }}</a> {{ post.created_on }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="card-body" >
                                <a style="text-decoration: none; color: rgb(11, 12, 12); " href="{% url 'social:post-detail' post.pk %}">
                                    <p class="mb-3 tx-14">{{ post.body }}</p>
                                </a>
                                {% if post.image.count > 0 %}
                                <div class="row">
                                    {% for img in post.image.all %}
                                    <div class="col-md-4 col-xs-12">
                                        <a href="{% url 'social:post-detail' post.pk %}">
                                            <img src="{{ img.image.url }}" style=" width: 100%; height: auto; border-radius: 10px; margin-bottom: 10px;">
                                        </a>
                                        
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <div class="d-flex post-actions">
                                    <form class="d-flex align-items-center text-muted mr-5 " method="POST" action="{% url 'social:like' post.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <button class="remove-default-btn" style=" background-color: white; border: none;" type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-heart icon-md">
                                                <path
                                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                                </path>   
                                            </svg>
                                            <i><span>{{ post.likes.all.count }}</span></i>
                                        </button>
                                    </form>
                                    <a href="{% url 'social:post-detail' post.pk %}" class="d-flex align-items-center text-muted mr-4" style="margin-left: 180px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather 
                                            feather-message-square icon-md">
                                            <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z">
                                            </path>       
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <!-- middle wrapper end -->
            <!-- right wrapper start -->
            <div class="d-none d-xl-block col-xl-3 right-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card rounded">
                            <div class="card-body">
                                <h6 class="card-title">suggestions for you</h6>
                                {% for profile in profile_list %}
                                <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                                    <div class="d-flex align-items-center hover-pointer">    
                                        <a href="{% url 'social:profile' profile.pk %}">
                                            <img class="img-xs rounded-circle" src="{{ profile.picture.url }}" alt="">
                                        </a>                     
                                        <div class="ml-2">
                                            <p>{{ profile.user }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right wrapper end -->
        </div>
    </div>
</div>
{% endblock content %}